/*=============== 3D Models ===============*/
.car__container {
  margin-top: 5rem;
  margin-bottom: -4rem;
  border-radius: 0.5rem;
  max-width: 900px;
  margin-inline: auto;
}

.load__container {
  height: 450px;
  max-width: 900px;
  justify-content: center;
  align-items: center;
  display: flex;
}

/*=============== HEADER & NAV ===============*/
.header {
  position: fixed;
  width: 100%;
  background-color: var(--body-color);
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  transition: box-shadow 0.3s, background 0.4s;
}

.nav {
  position: relative;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo,
.nav__toggle,
.nav__close {
  display: flex;
  color: var(--title-color);
}

.nav__logo {
  align-items: center;
  column-gap: 0.5rem;
  font-family: var(--title-font);
  font-size: var(--h3-font-size);
  font-weight: var(--font-semi-bold);
  transition: color 0.3s;
}

.nav__logo img {
  width: 25px;
}

.nav__logo:hover {
  color: var(--first-color);
}

.nav__toggle {
  font-size: 1.25rem;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .nav__menu {
    position: fixed;
    top: -100%;
    left: 0;
    background-color: var(--body-color);
    width: 100%;
    box-shadow: 0 8px 20px hsla(19, 64%, 24%, 0.1);
    padding-block: 3.5rem;
    transition: top 0.6s;
  }
}

.nav__list {
  display: flex;
  flex-direction: column;
  text-align: center;
  row-gap: 2rem;
}

.nav__link {
  color: var(--title-color);
  font-weight: var(--font-medium);
  transition: color 0.4s;
}

.nav__link:hover {
  color: var(--first-color);
}

.nav__close {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  font-size: 1.5rem;
  cursor: pointer;
}

.nav__img-1,
.nav__img-2 {
  position: absolute;
  opacity: 0.3;
  filter: hue-rotate(270deg) saturate(75%) brightness(70%);
}

.nav__img-1 {
  width: 100px;
  top: 1rem;
  left: -1rem;
  transform: rotate(155deg);
}

.nav__img-2 {
  width: 100px;
  right: -1rem;
  bottom: 0;
  transform: rotate(-30deg);
}

/* Show menu */
.show-menu {
  top: 0;
}

/* Change background header */

.bg-header {
  box-shadow: 0 2px 8px hsla(19, 64%, 24%, 0.1);
}

/* Active link */
.active-link {
  color: var(--first-color);
}

/* ========================== Footer ========================== */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 2rem 2rem;
}

.footer__copy {
  font-size: var(--smaller-font-size);
  color: var(--text-color-light);
}

/* ========================== Home ========================== */
.home {
  position: relative;
}

.home__img {
  width: 300px;
  justify-self: center;
}

.profile__border {
  border: 3.5px solid var(--first-color);
  justify-self: center;
  width: 110px;
  height: 110px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  box-shadow: 0 0px 24px hsla(var(--hue), var(--sat), var(--lig), 0.25);
  transition: box-shadow 0.4s;
}

.profile__border:hover {
  cursor: pointer;
  box-shadow: 0 0px 24px hsla(var(--hue), var(--sat), var(--lig), 0.55);
}

.profie__container {
  position: relative;
  width: 5.7rem;
  height: 5.7rem;
  background: linear-gradient(
    180deg,
    hsla(var(--hue), var(--sat), var(--lig), 1) 0%,
    hsla(var(--hue), var(--sat), var(--lig), 0.2) 100%
  );
  border-radius: 50rem;
  overflow: hidden;
}

.profile__img {
  position: absolute;
  top: -2.4rem;
  width: 80;
}

.profile__social {
  display: flex;
  column-gap: 0.75rem;
  margin-bottom: -2rem;
  margin-top: -1rem;
}

.profile__social-link {
  font-size: 1.8rem;
  transition: 0.3s;
  color: var(--first-color);
}

.profile__social-link:hover {
  color: var(--first-color-alt);
}

.hello__box {
  display: flex;
  /* background-color: var(--first-color); */
  padding: 0.7rem;
  border-radius: 0.5rem;
  justify-content: center;
  align-items: center;
  /* From https://css.glass */
  background: var(--first-color);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.hello__text {
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  text-align: center;
  color: #fff;
}

/* ========================== About ========================== */
.about,
.journey,
.projects {
  padding-block: 2rem 1.5rem;
}

.about__title,
.journey__title {
  padding-bottom: 1rem;
}

.about__subtitle {
  color: var(--first-color);
  transition: color 0.3s;
  cursor: pointer;
}

.about__subtitle:hover {
  color: var(--first-color-alt);
}

.journey_box {
  padding-top: 0.4rem;
  display: grid;
  grid-template-columns: 6rem auto;
  row-gap: 0.7rem;
}

.journey__year {
  color: var(--first-color);
  font-weight: var(--font-medium);
}

.journey__desc {
  color: var(--title-color);
  transition: color 0.4s;
}

.journey__desc:hover {
  color: var(--first-color);
}

/* ========================== PROJECTS ========================== */

.projects__card {
  position: relative;
  border-radius: 1rem;
  overflow: hidden;
}

.projects__card img {
  width: 100%;
  height: 100%;
}

.projects__modal {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: -100%;
  left: 0;
  background: linear-gradient(
    180deg,
    hsla(var(--hue), 24%, 40%, 0.3) 0%,
    hsla(var(--hue), 24%, 4%, 1) 95%
  );
  display: grid;
  align-items: flex-end;
  padding: 1.5rem 1.25rem;
  transition: 0.4s;
}

.projects__subtitle,
.projects__title {
  color: #fff;
}

.projects__subtitle {
  font-size: var(--smaller-font-size);
}

.projects__title {
  font-size: var(--h3-font-size);
  margin-bottom: 0.75rem;
}

.projects__button {
  padding: 0.5rem;
}

.projects__card:hover .projects__modal {
  bottom: 0;
}

.button {
  display: inline-flex;
  align-items: center;
  column-gap: 0.5rem;
  background-color: var(--first-color);
  color: #fff;
  border-radius: 0.5rem;
  transition: 0.3s;
  box-shadow: 0 8px 24px hsla(var(--hue), var(--sat), var(--lig), 0.25);
}

.button__small {
  padding: 0.5rem;
  box-shadow: none;
}

.button i {
  font-size: 1.25rem;
}

.button:hover {
  background-color: var(--first-color-alt);
}

/* ========================== More Buttons ========================== */
.button__container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.5rem;
}

.more__button {
  display: inline-flex;
  align-items: center;
  column-gap: 0.3rem;
  background-color: var(--first-color);
  color: #fff;
  padding: 0.6rem 1rem;
  border-radius: 0.5rem;
  transition: 0.3s;
  box-shadow: 0 8px 24px hsla(var(--hue), var(--sat), var(--lig), 0.25);
  font-size: var(--small-font-size);
}

.more__button:hover {
  background-color: var(--first-color-alt);
}

.more__button i {
  font-size: 1.25rem;
  transition: 0.3s;
}

.more__button:hover i {
  transform: translateX(3px);
}

/*=============== Grid Area ===============*/

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 340px) {
  .container {
    margin-inline: 1rem;
  }
  .section {
    padding-block: 4rem 1rem;
  }
}

/* For medium devices */
@media screen and (min-width: 576px) {
  .projects__content {
    grid-template-columns: repeat(2, 1fr);
  }

  .journey_box {
    column-gap: 0.8rem;
  }
}

@media screen and (min-width: 767px) {
  .container {
    margin-inline: auto;
    max-width: 733px;
  }

  .nav {
    column-gap: 2rem;
  }

  .nav__toggle,
  .nav__close,
  .nav__img-1,
  .nav__img-2 {
    display: none;
  }

  .nav__list {
    flex-direction: row;
    column-gap: 2rem;
  }

  .nav__menu {
    margin-left: auto;
  }

  .dark-theme .nav__menu {
    box-shadow: none;
  }

  .journey_box {
    column-gap: 1.5rem;
  }

  .profile__border {
    grid-area: one;
  }

  .hello__box {
    grid-area: two;
  }

  .home__box {
    grid-area: three;
  }

  .profile__social {
    grid-area: four;
  }

  .home__grid {
    grid-template-areas: 'two two two' 'three one one' 'four one one';
  }
}

/* For large devices */
@media screen and (min-width: 1024px) {
  .section {
    padding-block: 7rem 1.5rem;
  }

  .nav {
    height: calc(var(--header-height) + 1rem);
  }

  .home__description {
    padding-inline: 0 10rem;
  }

  .footer {
    padding-block: 6rem 3rem;
  }
}
